.mapsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 600px;
    font-family: 'Krona One', sans-serif;
    flex-direction: column;
    font-size: 40px;
    margin: 30px;
}

.mapsText {
    color: white;
    font-family: 'Krona One', sans-serif;
}